@charset "utf-8";

a {
    color: inherit;
    text-decoration: inherit;
}
a:hover, a:active  {
    text-decoration: underline;
}

em {
    font-weight: bold;
    font-style: inherit;
}

.header {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: rgb(98, 98, 252);
    color: white;   
}
div.header {
    columns: 2 400px;
    max-width: 1000px;
    margin: auto;
}

div.name-role {
    display: inline-block;
} 
.header .name-role h1 {
    font-size: 3em;
    margin: 10px;
}
.header .name-role h2 {
    font-size: 2em;
    margin: 10px;
}
div.contacts {
    float: right;
    width: 300px;
}
.contacts li {
    padding-top: 10px;
}
#location {
    list-style-type: "🌎 ";
}
#phone {
    list-style-type: "☎ ";
}
#email {
    list-style-type: "✉ ";
}
#linkedin {
    list-style-type: "💼 ";
}

.main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 1000px;
    margin: auto;
}

div.experience {
    max-width: 900px;
    margin: auto;
}
.experience h2 {
    font-weight: normal;
    font-size: 1.5em;
    margin-block-end: .1em;
}
.experience span {
    white-space: nowrap;
}
span.position {
    font-weight: bold;
}
span.company {
    font-weight: bold;
    font-style: italic;
}
span.location {
    font-style: italic;
}
span.dates {
    font-style: italic;
    font-weight: lighter;
}
.experience p, ul {
    margin-block-start: 0;
    margin-block-end: 0;
}

.download {
    margin-block-start: 3em;
    background-color: lightslategrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

@media print
{    
    .download, .download *
    {
        display: none !important;
    }
    .header {
        background-color: inherit;
        color: inherit;   
    }
    span.dates {
        display: block;
    }
    .pagebreak {
        page-break-after: always;
    }
}